/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.move {
  margin: 10px, 10px, 10px, 10px;
} */

.firstbanner {
  background-color:chocolate !important;
}